<ion-view view-title="About" id="about">
  <ion-content class="has-header text-center">
    <div>
      <img src="../img/logo.png" alt="logo" width="200" style="top: 50px; position: relative; "/>

      <div style="top: 50px; position: relative">
        RouteMe v1.0
      </div>
      <div style="top: 100px; position: relative;">
        Location based routing application.<br/>
        <br/>
        version: 1.0<br/>
        ionic version: 1.7.14<br/>
      </div>
    </div>
  </ion-content>
</ion-view>
