<ion-view view-title="Account" id="account">

  <ion-content class="has-header" ng-controller="AccountCtrl">
    <div class="row" style="top: 50px; position: absolute">
      <div class="col" style="text-align: center">
        Create new account.
      </div>
    </div>

    <div class="list" style="top: 100px;">

      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Enter email" ng-model="email">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Enter password" ng-model="password">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Re-enter password</span>
        <input type="password" placeholder="Re-enter password" ng-model="repassword">
      </label>

      <div class="text-center" style="margin: 10px">
        <button type="submit" class="button button-block button-positive"
                ng-click="registerUser(email, password, repassword)">
          Create Account
        </button>
      </div>

    </div>

  </ion-content>

</ion-view>
