<ion-view view-title="More">
  <ion-content class="has-header" ng-controller="AccountCtrl" ng-init="initMore()">

    <ion-list>
      <ion-item class="item-divider">RouteMe</ion-item>

      <ion-item class="item-icon-left" ui-sref="tab.nearby">
        <i class="icon ion-ionic"></i>
        Nearby
      </ion-item>

      <ion-item class="item-icon-left" ui-sref="tab.recent">
        <i class="icon ion-clock"></i>
        Recent Travels
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider">Manage
      </ion-item>
      <ion-item ui-sref="tab.account">
        Account
      </ion-item>
      <ion-item ui-sref="tab.about">
        About
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
