<ion-view view-title="More">
  <ion-content class="has-header" ng-controller="MoreCtrl" ng-init="getLocation()">
    <ion-list>
      <ion-item class="item-avatar">
        <img src="../img/buddhi.jpg"/>
        Buddhi Vikasitha
        <p>last at Galadhari Hotel, Colombo</p>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider">RouteMe</ion-item>

      <ion-item ui-sref="" class="item-icon-left">
        <i class="icon ion-ionic"></i>
        Nearby
      </ion-item>

      <ion-item ui-sref="" class="item-icon-left">
        <i class="icon ion-clock"></i>
        Recent
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider">Manage
      </ion-item>
      <ion-item ui-sref="">
        Account
      </ion-item>
      <ion-item ui-sref="more.about">
        About
      </ion-item>
      <ion-item ui-sref="">
        Terms &amp; Conditions
      </ion-item>
      <ion-item ui-sref="">
        Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
